name: Daily Build

on:
  workflow_dispatch:
  push:
    branches:
      - test-action

jobs:
  diff_tags:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: 3.11
    - run: pip install requests
    - run: DOCKERHUB_USERNAME=${{ secrets.DOCKERHUB_USERNAME }} python diff_tidb_tags.py >> $GITHUB_OUTPUT
      id: tag_list
    outputs:
      tag_list: ${{ steps.tag_list.outputs.DIFF_TAGS}}

  build:
    needs: diff_tags
    strategy:
      fail-fast: true
      matrix:
        tag: ${{ fromJson(needs.diff_tags.outputs.tag_list) }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to Docker Registry
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        platforms: linux/amd64
        file: ./Dockerfile
        build-args: |
          "TIDB_VERSION=${{ matrix.tag }}"
          "BUILD_VERSION=1"
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/tind:${{ matrix.tag }}
